body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #000000;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #000000;
}

.menu {
    margin-top: 50px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #aaaaaa;
    color: black;
    transition: ease 0.3s;
}

